<% layout('layouts/boilerplate') %>

    <div class="row mt-5" style="display: flex; justify-content: center;">
        <div class="col-9">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">
                    Error: <%= err.message %>
                </h4>
                <hr>
                <% if (process.env.NODE_ENV !=="production" ) {} %>
                    <p class="mb-0">
                        <%= err.stack %>
                    </p>
                <% } %>
            </div>
        </div>
    </div>