<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <form action="/spots/<%= spot._id %>/?_method=put" method="post">
        <label for="title">Title</label>
        <input type="text" name="spot[title]" id="title" value="<%= spot.title %>">
        <label for="location">Location</label>
        <input type="text" name="spot[location]" id="location" value="<%= spot.location %>">
        <button type="submit">Edit</button>
    </form>
    <a href="/spots">Back to main</a>
</body>

</html>