<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Spot</title>
</head>

<body>
    <h1>
        <%= spot.title %>
    </h1>
    <h2>
        <%= spot.location %>
    </h2>
    <footer>
        <a href="/spots/<%= spot._id %>/edit">Edit</a>
        <form action="/spots/<%= spot._id %>?_method=delete" method="post">
            <button type="submit">Delete</button>
        </form>
        <a href="/spots">Back to main</a>
    </footer>
</body>

</html>